<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body onload="myFunction()" >
    <div id="loading"></div>
    <div class="container">
        <div class="row ">
            <div class="col-sm-6 col-md-4 mx-auto">
                <h1 class="text-center login-title my-5 mt-1 ml-2">Employee Login Form
                </h1>
                <div class="acount-wall">
                   
                    <form class="form-signin" action="/login" method="POST">
                        <input type="email" class="form-control my-2 text-center int" id="form" name="email"
                            placeholder="Email address" title="Please enter email to continue" required>
                        <input type="password" class="form-control text-center int" id="password"
                            title="Please enter password to continue" name="password" placeholder="Password" required>
                        <button type="submit" class="btn btn-lg btn-primary btn-block mt-4">Sign in</button>
                        <input type="checkbox" class="circle">
                        <label class="checkbox pull-left mt-2">Remember me</label>
                        <a href="#" class="pull-right need-help">Need help?</a><span class="clearfix"></span>
                    </form>
                </div>
                <a href="/register" class="text-center new-account ml-5">Create New Acccount</a>
            </div>
        </div>
    </div>
    <script src="./js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>