<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body onload="myFunction()" style="background:  #0a2a43;">
    <div id="loading"></div>
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>
                <p>to the MERN Project i hope you enjoy</p>
                <a href="/"><input type="submit" name="" value="Login" /></a> <br />
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Employee Registration Form</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <form class="form-control" action="/register" method="POST">
                                        <input type="text" class="form-control" name="fname" placeholder="First Name *"
                                            value="" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="lname" placeholder="Last Name *"
                                        value="" required />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Password *"
                                        value="" required />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="confirm_pass"
                                        placeholder="Confirm Password *" value="" required />
                                </div>
                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="male" checked>
                                            <span> Male </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="female">
                                            <span>Female </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email *"
                                        value="" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" minlength="10" maxlength="10" name="Phone" class="form-control"
                                        placeholder="Your Phone *" value="" required />
                                </div>
                                <input type="submit" class="btnRegister" value="Register" />
                            </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <script>
        //for preloader
        var preloader = document.getElementById("loading");
        function myFunction() {
            preloader.style.display = 'none';
        };
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>